# To separate your traces from other application
LANGSMITH_API_KEY="ls.."
LANGSMITH_PROJECT="new-agent"
LANGCHAIN_TRACING_V2=true

# Add API keys for connecting to LLM providers, data sources, and other integrations here
